{
  "name": "codegen_dali_ensemble",
  "platform": "ensemble",
  "max_batch_size": 1,
  "input": [
    {
      "name": "raw_text",
      "data_type": "TYPE_STRING",
      "dims": [1]
    }
  ],
  "output": [
    {
      "name": "summary_text",
      "data_type": "TYPE_STRING",
      "dims": [1]
    }
  ],
  "ensemble_scheduling": {
    "step": [
      {
        "model_name": "text_preprocessor",
        "model_version": -1,
        "input_map": {
          "raw_text": "raw_text"
        },
        "output_map": {
          "processed_text": "processed_text"
        }
      },
      {
        "model_name": "codegen",
        "model_version": -1,
        "input_map": {
          "input_ids": "processed_text"
        },
        "output_map": {
          "output_0": "summary_logits"
        }
      },
      {
        "model_name": "text_postprocessor",
        "model_version": -1,
        "input_map": {
          "summary_logits": "summary_logits"
        },
        "output_map": {
          "summary_text": "summary_text"
        }
      }
    ]
  }
}